* {
    padding: 0;
    margin: 0;
}

.content {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    bottom: 50px;
    width: 60%;
    min-height: 60vh;
    background-color: #bbb;
    backdrop-filter: blur(20px);
    opacity: .75;
    border-radius: 25px;
}